<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <!--- Static -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'total_app/css/style.css' %}">    
        <script src="{% static 'total_app/js/script.js' %}"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}
    </style>
    <body>
        <!-- Top menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Ecommerce</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cart">Shopping Cart <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dashboard">My Wishlist</a>
                    <a class="dropdown-item" href="/cart">Shopping Cart</a>
                    <a class="dropdown-item" href="/dashboard">Order History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/payment">Add Payment Method</a>
                    <a class="dropdown-item" href="/edit">Edit Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:10px">
            <nav class="navbar navbar-expand-lg light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/wishlist">Most Popular</a>
                            <a class="dropdown-item" href="/cart">$ lowest-highest</a>
                            <a class="dropdown-item" href="/orders">$ highest-lowest</a>
                            <a class="dropdown-item" href="/orders">Recent</a>
                        </div>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/wishlist">My Wishlist</a>
                            <a class="dropdown-item" href="/cart">Shopping Cart</a>
                            <a class="dropdown-item" href="/orders">Order History</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/payment">Add Payment Method</a>
                            <a class="dropdown-item" href="/edit">Edit Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="items">
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/alpaca1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>
                <a href="/addcart"><button type="submit" class="ml-5 btn btn-info">Add to Cart</button></a>
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/tank1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>
                <a href="/addcart"><button type="submit" class="ml-5 btn btn-info">Add to Cart</button></a>
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/alpaca1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>
                <a href="/addcart"><button type="submit" class="ml-5 btn btn-info">Add to Cart</button></a>
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/blue_dog.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>
                <a href="/addcart"><button type="submit" class="ml-5 btn btn-info">Add to Cart</button></a>
            </div>
        </div>
        
        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="items">
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/alpaca1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>            
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/tank1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>               
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/alpaca1.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>   
            </div>
            <div class="w3-quarter">
                <a href="/item">
                    <img src="{% static 'total_app/images/blue_dog.jpg' %}" alt="..." class="img-thumbnail">
                    <h5>A caption for the above image.</h5>
                    <h2>Price:   $1,000</h2>
                </a>   
            </div>
        </div>

        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div>


                <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>


